html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.deck {
	width: 525px;
	height: 525px;
	padding: 1rem;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 75px;
	width: 75px;
	margin: 0.2rem 0.2rem;
	background: #141214;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:hover{
    background-color: #aeaeae;
}

.innerCircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}

.hide{
    display: none;
}